.pride3{
    background-color:rgb(223, 212, 234);
    padding : 500px 0px ;
    max-width: 100%;
    height: auto;
   
    overflow: hidden;
    top: auto;
    position: relative;
}
.pride3 h1{
    font-size: 3em;
    color: rgb(86, 29, 144) ;
    line-height: 1.2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
     width: 300%;
     right: -0.3em;
     position: relative;
     height: auto;
     top: -9.5EM;
}
.pride3 p{
    font-size: 2.1em;
    color: rgb(20, 5, 35) ;
    line-height: 1.2em;
    font-family:cursive;
     font-weight: bold;
     width: 250%;
     right: 3em;
     position: relative;
     height: auto;
     top: -12em;
}